{% extends "common.html" %}
{% block content %}
<h1>SQLweb</h1>
<h2>Slowquery Query Language WEB interface</h2>

<form method="post" action="{{ url_for('query') }}" enctype="multipart/form-data">
    <label for="logfile">FROM</label>
    <input id="logfile" type="file" name="logfile">
    <label for="where">WHERE</label>
    <input id="where" type="text" name="where">
    <button>Run</button>
</form>

{% if entries %}
<div class="container">
    <table id="rows_table" class="table">
        <thead>
        <tr>
            <th>クエリ</th>
            <th>実行時間</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in entries %}
        <tr>
            <td>{{ entry.query }}</td>
            <td>{{ entry.query_time }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function(){
        $('#rows_table').dataTable();
    });
</script>
{% endblock %}
