{% extends "common.html" %}
{% block content %}
<h1>SQLweb</h1>
<h2>Slowquery Query Language WEB interface</h2>

<form method="post" action="{{ url_for('query') }}" enctype="multipart/form-data">
    <div class="container">
        <label for="logfile">FROM</label>
        <input id="logfile" type="file" name="logfile">
    </div>

    <div class="container">
        <label for="where">WHERE</label>
        <input id="where" size="80" type="text" name="where" value="{{ query }}">
    </div>

    <div class="container">
        <strong>GROUP BY</strong>
        <input id="groupby-int" type="checkbox" name="groupby" value="int" {% if not groupby or 'int' in groupby %}checked{% endif %}>
        <label for="groupby-int">int litreal</label>
        <input id="groupby-str" type="checkbox" name="groupby" value="str" {% if not groupby or 'str' in groupby %}checked{% endif %}>
        <label for="groupby-str">str litreal</label>
    </div>

    <button>Run</button>
</form>

{% if entries %}
<div class="container">
    <table id="rows_table" class="table">
        <thead>
        <tr>
            <th>query</th>
            <th>total query_time</th>
            <th>average query_time</th>
            <th>counts</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in entries %}
        <tr>
            <td>{{ entry.query }}</td>
            <td>{{ entry.query_time }}</td>
            <td>{{ entry.query_time / entry.counts }}</td>
            <td>{{ entry.counts }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <table id="nplus1_table" class="table">
        <thead>
        <tr>
            <th>previous query</th>
            <th>duplicated queries</th>
            <th>total query_time</th>
            <th>counts</th>
        </tr>
        </thead>
        <tbody>
        {% for nplus1 in nplus1s %}
        <tr>
            <td>{{ nplus1.prev_query }}</td>
            <td>{{ nplus1.query }}</td>
            <td>{{ nplus1.total_time }}</td>
            <td>{{ nplus1.counts }} </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('.table').DataTable({
            "order": [
                [1, 'desc']
            ]
        });
    } );
</script>
{% endblock %}

